<main>
  <nav>
    <a routerLink='/'>Home</a>
    <a routerLink='/os'>OS</a>
    <a routerLink='/user'>User</a>
  </nav>
  <h1>Angular Trial</h1>
  <h2>{{ title }}</h2>
  <p>{{ isLoggedIn }}</p>

  @if (isLoggedIn) {
  <p>Welcome back, Shashwat</p>
  } @if (isServerRunning) {
  <p>Server is running, bossman</p>
  } @else {
  <p>Server is NOT running, bossman</p>
  }

  <h2>OS</h2>

  @for (os of operatingSystems ; track os.id) {
  <p>{{ os.name }}</p>
  }

  <h2>Users</h2>

  @for (user of users ; track user.id) {
  <p>{{ user.name }}</p>
  }

  {{ message }}

  <img alt="Photo" [ngSrc]="imageUrl" height='400' width='400' priority />

  <div [contentEditable]="isEditable"></div>

  <button (click)="greet()">Greet Me, Shashwat</button>

  <div (mouseover)="onMouseOver()" (mouseleave)="onMouseLeave()">
    HOVER OVER ME, BOI
  </div>

  <user-occupation
    occupation="Software Engineer"
    (handleEmitClickEvent)="onEmit($event)"
  />


  @defer (on viewport) {
    <heavy />
  } @placeholder {
    <h2>Placeholder heavy component</h2>
  }

  @for (item of items ; track item) { {{ item }} }

  <user-form />

  <reactive-form />

  <pipes />

</main>

<router-outlet />
